<h2><%= @wine.varietal %> - <em><%= @wine.region %></em></h2>
<br><br>

<p>Recommended pairings: </p>
<% @wine.pairings.each do |pairing| %>
  <div>
  <%= link_to pairing.cheese.name, cheese_path(pairing.cheese) %>
  </div>

  <% end %>

